body {
    background-color: #232d3f;
    font-family: 'Poppins', sans-serif;
  }

  ._sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }

  #profile {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }

  #username {
    font-size: small;
  }

  #dropdown-logout {
    min-width: 150px;
  }


#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: gray;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #000000;
  border-radius: 5%;
	border: 2px solid #555555;
}

#quick_logo {
  
  color: yellow;
}

#grade_logo {
  color: white;
  margin: 0 2px;
  border-bottom: solid 2px gold;
}

#mintGreen {
  color: #7FFF9E;
}

#criteria input::-webkit-outer-spin-button,
#criteria input::-webkit-inner-spin-button {
  display: none;
}
#criteria input
{
  width: 70px;
  background-color: white;
  border-color: whitesmoke;
  align-items: center;
}
#criteria p {
  height: 48px;
  min-width: 110px;
}


#notification {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

#studentRecordGrade tbody{
  font-size: 14px;
}
#studentRecordGrade thead,
#studentRecordGrade thead th{
  font-size: 14px;
  font-weight: 600;
}

.result_table thead tr *{
  font-weight: 400;
}
.result_table tbody tr *{
  font-weight: 400;
}
.result_table tfoot tr *{
  font-weight: 400;
  font-style: italic;
  color: red;
}

.result-header {
  font-size: 20px;
}

.result_table input::-webkit-outer-spin-button,
.result_table input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}